@media only screen and (min-width: 360px) and (max-width: 768px) {

    
    
    .titulo {
        margin-top: -3rem;
        font-size: 16px;
        
       
    }
   
        .titulo-text {
            margin-top: -1rem;        
            
            font-size: 15px;
                       
        }
        
        .btn {
            font-size:0.7rem;

            
            justify-content: center;
        }    

       
    }
  
    
  
 

.degradado{

    background: rgb(49,81,193);
    background: linear-gradient(90deg, rgba(49,81,193,1) 1%, rgba(49,166,193,1) 48%, rgba(49,81,193,1) 97%);
}
